.grid {
    font-family: sans-serif;
}

.content tbody {
    display: block;
    height: 500px;
    overflow-x: auto;
    overflow-y: scroll;
}

.content thead, tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.content thead {
    width: calc( 100% - 1em );
}

.content .even {
    background-color: lightsteelblue;
}

table {
    width: 600px;
}