.pager {
    text-align: center;
    vertical-align: middle;
}
.pager > * {    
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
}
.pager .icon {
    display: inline-block;    
    background-position: center;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
}
.pager input {
    width: 50px;
    text-align: center;
    margin: 0px 8px 0px 8px;
}