.pager {
    text-align: center;
    vertical-align: middle;
}
.pager > * {    
    cursor: pointer;    
    padding: 5px;
    margin: 3px;
    width: 50px;
    text-align: center;
}
.pager .button {    
    background-color: lightgrey;
    display: inline-block;
}
.pager input {
    width: 50px;
    text-align: center;
}